@charset "UTF-8";
html,
body {
  height: 100%;
  justify-content: center;
  align-items: center;
  font: 100% "Helvetica";
  background: black;
}

.navigation {
  position: sticky;
  top: 0;
  height: 70px;
  background: #262626;
  z-index: 1;
}

.brand {
  position: absolute;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 3.2em;
  font-weight: 600;
  color: rgb(255, 255, 255);
  --color1: rgb(255, 255, 255);
  --color2: rgb(255, 251, 0);
  --color3: rgb(255, 0, 0);
  --color4: rgb(76, 0, 255);
  font-family: Londrina Outline;
  --interval: 1s;
  text-shadow: 
    0 0 10px var(--color1),
    0 0 20px var(--color2),
    0 0 40px var(--color3),
    0 0 80px var(--color4);
  will-change: filter, color;
  filter: saturate(60%);
  animation: flicker steps(100) var(--interval) 1s infinite;

}
@keyframes flicker {
  50% {
    color: white;
    filter: saturate(200%) hue-rotate(20deg);
  }
}
.brand a,
.brand a:visited {
  color: #ffffff;
  text-decoration: none;
}

.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}

nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  background: #262626;
  color: #ffffff;
  text-decoration: none;
}
nav ul li a:hover,
nav ul li a:visited:hover {
  background: #2581DC;
  color: #ffffff;
}
nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: " ▾";
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #262626;
  height: 70px;
  width: 70px;
}

@media only screen and (max-width: 798px) {
  .nav-mobile {
    display: block;
  }

  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }

  .nav-dropdown {
    position: static;
  }
}
@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}



/*intro section*/
.intro{
  z-index: 0;
  height: 65%;
  background: url(https://images.unsplash.com/photo-1516663713099-37eb6d60c825?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80)center center / cover no-repeat;
}
h1{
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-top:5%;
  padding-left: 12%;
  padding-bottom: 2%;
  font-size:2vmax;
  font-weight:300;
}
h2{
  color: white;
  padding-left: 12%;
  line-height: 30px;
  font-family: "Ubuntu";
  font-size:2vmax;
  font-weight:500 ;
}
h3{
  color: white;
  padding-left: 12%;
  padding-top: 2%;
  font-family: "Ubuntu";
  font-size:1.2vmax;
}
.intro i {
  margin-right: 5px;
}

.color-tags {
  margin: 40px auto 0 auto;
  padding-left: 12%;
  padding-right: 5%;
}
.color-tags li {
  width: 7vmax;
  padding: 1vmax;
  list-style: none;
  font-size: 0.9vmax;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  color: #FFFFFF;
  float: left;
  margin: 0px 10px 15px 0px;
  border-radius: 5px;
  border-top: 1px solid rgb(0, 0, 0);
  box-shadow: rgba(255, 244, 244, 0.719) 2px 2px 2px;
  transition: 0.5s;
}


/* Projects */
.projects{
  background: url(https://images.unsplash.com/photo-1615507184018-47dd4ef0e4bb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80)center center / cover no-repeat;
}
.heading{
  position: relative;
  text-align:center;
  top: 50%;
  background-color :rgb(20, 20, 53);
  border-radius: 7px;
  box-shadow: rgb(17, 25, 34) 0px 20px 30px -10px;
  height:5vmax;
  width:75%;
}
h4{
  color:white;
  font-family:"Abel";
  line-height: 5vmax;
  font-size: 4vmax;
  font-weight:800;
}
h5 {
  color:rgb(255, 255, 255);
  font-size: 32px;
  margin-top: 30px;
  font-family: "Oswald", sans-serif;
  text-align: center;
}

.blog-wrapper {
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.blog-wrapper .blog-card {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  max-width: 300px;
  margin: 15px;
  background: rgb(255, 255, 255);
  border: 1px solid #690000;
  text-align: center;
  cursor: pointer;
}
.blog-wrapper .blog-card:hover {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
}
.blog-wrapper .blog-card:hover .card-img img {
  opacity: 0.8;
}
.blog-wrapper .blog-card .card-img {
  position: relative;
  text-align: center;
  background: #690000;
}
.blog-wrapper .blog-card .card-img img {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  max-height: 180px;
  width: 100%;
  border-bottom: 4px solid #690000;
}
.blog-wrapper .blog-card .card-img:before {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  margin-left: -10px;
  width: 0;
  height: 0;
  border-top: solid 10px #690000;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
}
.blog-wrapper .blog-card .card-img h1 {
  position: absolute;
  margin: 0;
  font-size: 42px;
  bottom: 15px;
  width: 100%;
  color: #fff;
  font-family: "Slabo 27px", serif;
}
.blog-wrapper .blog-card .card-details {
  margin-top: 30px;
  font-family: "Roboto", sans-serif;
  color: #3C3C3C;
}
.blog-wrapper .blog-card .card-details span {
  padding: 0 30px;
}
.blog-wrapper .blog-card .card-details span i {
  margin-right: 5px;
}
.blog-wrapper .blog-card .card-text {
  padding: 30px 15px;
  font-family: "Roboto", sans-serif;
  line-height: 22px;
}
.blog-wrapper .blog-card .read-more {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  display: inline-block;
  width: auto;
  text-align: center;
  text-transform: uppercase;
  background: #CB6074;
  color: #fff;
  padding: 15px;
  margin-bottom: 30px;
  font-family: "Oswald", sans-serif;
}
.blog-wrapper .blog-card .read-more:hover {
  background: #943143;
}

footer {
  background: #000000;
  height: auto;
  text-align: center;
}
footer p,h6{
  font-size: 16px;
  font-family: Roboto Condensed;
  font-weight: 500;
  color: #ffffff;
}